

@font-face {
font-family: 'PostNoBillsJaffna';
font-style: normal;
font-weight: bold;
src: url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}


@font-face {
font-family: 'BigShouldersStencilText';
font-style: normal;
font-weight: bold;
src: local('BigShouldersStencilTextBold'), url('../fonts/BigShouldersStencilText-Bold.ttf') format('opentype');
}


@font-face {
font-family: "PTSans";
font-style: normal;
font-weight: normal;
src: url("../fonts/PTSans-Regular.ttf") format("opentype");
}


@font-face {
font-family: 'PlayfairDisplaySC';
font-style: normal;
font-weight: bold;
src: local('PlayfairDisplaySCBold'), url('../fonts/PlayfairDisplaySC-Bold.ttf') format('opentype');
}


@font-face {
font-family: 'PlayfairDisplaySC';
font-style: normal;
font-weight: normal;
src: local('PlayfairDisplaySCRegular'), url('../fonts/PlayfairDisplaySC-Regular.ttf') format('opentype');
}

