.section-2 {
	display: flex;
	width: 100%;

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 55%;
		padding: 10vh 5px;

	}
	&__left-block {
		display: flex;
		width: 100%;
		justify-content: space-evenly;

	}
	&__right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		width: 45%;
		background-image: url(../img/new-collection.png);
		background-position: top left;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 10vh 0;

	}
}

@media all and (max-width: 1024px) {
	.section-2 {
		flex-direction: column;
		margin-bottom: 1%;

		&__left, &__right {
			width: 100%;
		}
		&__right {
			background-position: top left;
			height: 80vh;
		}
	}

}
@media all and (max-width: 510px) {
	.section-2 {
		&__left-block {
			width: 60%;
		}
	}
}

@media all and (max-width: 450px) {
	.section-2 {

		&__right {
			background-position: top left;
			height: 50vh;
		}
	}
}